.bills {
  position: absolute;
  top: 7%;
  left: 43%;
  transition: 0.3s;
  border-radius: 10px;
  border: 1px solid #111;
  width: 25%;
  min-height: 30%;
  box-shadow: 0px 0px 5px 0px grey;
  background-color: lightgrey;
}

.bills_list {
  padding: 10px;
}
