#login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 0.4s;
}

#login_close {
    display: inherit;
    color: #aaa;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 28px;
    font-weight: bold;
}

#login_content {
    position: relative;
    border: 1px solid #111;
    display: inherit;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

#login_close:hover,
#login_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
